In [2]:
import os
import io
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
weather = pd.read_csv('weatherAUS.csv')

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [5]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [8]:
weather.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [9]:
weather.isnull()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
142189,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
142190,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
142191,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
142192,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
weather.median()

C:\Users\mitra\AppData\Local\Temp\ipykernel_7288\1621014260.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  weather.median()

MinTemp            12.0
MaxTemp            22.6
Rainfall            0.0
Evaporation         4.8
Sunshine            8.5
WindGustSpeed      39.0
WindSpeed9am       13.0
WindSpeed3pm       19.0
Humidity9am        70.0
Humidity3pm        52.0
Pressure9am      1017.6
Pressure3pm      1015.2
Cloud9am            5.0
Cloud3pm            5.0
Temp9am            16.7
Temp3pm            21.1
RISK_MM             0.0
dtype: float64

In [11]:
weather.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [12]:
weather.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
142188    False
142189    False
142190    False
142191    False
142192    False
Length: 142193, dtype: bool

In [13]:
weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [14]:
weather.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [16]:
weather.sample(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
55602,2014-06-18,Ballarat,7.2,9.3,1.2,NaN,NaN,E,20.0,SW,...,73.0,1032.5,1029.8,8.0,8.0,8.3,8.9,Yes,0.0,No
114763,2009-03-07,PerthAirport,17.1,31.6,0.0,11.6,11.5,E,78.0,ENE,...,26.0,1020.3,1017.2,1.0,0.0,19.1,30.1,No,0.0,No
109771,2011-03-23,Witchcliffe,13.9,26.1,0.0,NaN,NaN,S,43.0,S,...,53.0,NaN,NaN,NaN,NaN,22.2,23.7,No,0.0,No
130128,2009-08-24,Launceston,7.4,12.1,12.4,NaN,NaN,NW,76.0,NaN,...,75.0,992.1,990.0,NaN,NaN,7.7,9.9,Yes,6.6,Yes
46229,2013-03-31,Canberra,3.2,23.4,0.0,6.0,NaN,NW,33.0,NNE,...,41.0,1012.2,1011.0,6.0,8.0,13.6,20.9,No,0.0,No
99615,2016-06-20,MountGambier,6.3,12.4,1.2,NaN,NaN,WSW,31.0,SW,...,96.0,1010.2,1007.5,8.0,8.0,11.4,11.1,Yes,10.0,Yes
90536,2016-08-31,GoldCoast,14.2,23.5,0.0,NaN,NaN,N,33.0,NW,...,57.0,1026.7,1021.6,NaN,NaN,20.1,21.0,No,0.0,No
35809,2017-05-27,SydneyAirport,11.7,20.9,0.0,2.8,7.0,NE,28.0,NW,...,71.0,1021.7,1017.4,3.0,3.0,15.9,19.8,No,0.0,No
17303,2016-05-22,Newcastle,12.8,25.2,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,15.0,NaN,No,0.0,No
46000,2012-06-16,Canberra,1.3,9.4,0.0,2.4,0.5,NW,26.0,SSW,...,83.0,1018.3,1014.5,8.0,8.0,6.2,9.3,No,0.8,No

In [17]:
weather.shape

(142193, 24)

In [18]:
sliced_data= weather[10:21]

In [19]:
print(sliced_data)

          Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
10  2008-12-11   Albury     13.4     30.4       0.0          NaN       NaN
11  2008-12-12   Albury     15.9     21.7       2.2          NaN       NaN
12  2008-12-13   Albury     15.9     18.6      15.6          NaN       NaN
13  2008-12-14   Albury     12.6     21.0       3.6          NaN       NaN
14  2008-12-16   Albury      9.8     27.7       NaN          NaN       NaN
15  2008-12-17   Albury     14.1     20.9       0.0          NaN       NaN
16  2008-12-18   Albury     13.5     22.9      16.8          NaN       NaN
17  2008-12-19   Albury     11.2     22.5      10.6          NaN       NaN
18  2008-12-20   Albury      9.8     25.6       0.0          NaN       NaN
19  2008-12-21   Albury     11.5     29.3       0.0          NaN       NaN
20  2008-12-22   Albury     17.1     33.0       0.0          NaN       NaN

   WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  Pressure9am  \
10           N           30.0        SSE  ...        22.0       1011.8
11         NNE           31.0         NE  ...        91.0       1010.5
12           W           61.0        NNW  ...        93.0        994.3
13          SW           44.0          W  ...        43.0       1001.2
14         WNW           50.0        NaN  ...        28.0       1013.4
15         ENE           22.0        SSW  ...        82.0       1012.2
16           W           63.0          N  ...        65.0       1005.8
17         SSE           43.0        WSW  ...        32.0       1009.4
18         SSE           26.0         SE  ...        26.0       1019.2
19           S           24.0         SE  ...        28.0       1019.3
20          NE           43.0         NE  ...        28.0       1013.6

    Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
10       1008.7       NaN       NaN     20.4     28.8         No      2.2
11       1004.2       8.0       8.0     15.9     17.0        Yes     15.6
12        993.0       8.0       8.0     17.4     15.8        Yes      3.6
13       1001.8       NaN       7.0     15.8     19.8        Yes      0.0
14       1010.3       0.0       NaN     17.3     26.2        NaN      0.0
15       1010.4       8.0       1.0     17.2     18.1         No     16.8
16       1002.2       8.0       1.0     18.0     21.5        Yes     10.6
17       1009.7       NaN       2.0     15.5     21.0        Yes      0.0
18       1017.1       NaN       NaN     15.8     23.2         No      0.0
19       1014.8       NaN       NaN     19.1     27.3         No      0.0
20       1008.1       NaN       1.0     24.5     31.6         No      0.0

    RainTomorrow
10           Yes
11           Yes
12           Yes
13            No
14            No
15           Yes
16           Yes
17            No
18            No
19            No
20            No

[11 rows x 24 columns]

In [20]:
sum_data=weather["MinTemp"].sum()
mean_data=weather["MinTemp"].mean()
median_data=weather["MinTemp"].median()
mode_data=weather["MinTemp"].mode()

In [21]:
print("Sum: ",sum_data,"\nMean: ",mean_data,"\nMedian: ",median_data,"\nMode: ",mode_data)

Sum:  1725057.9999999998
Mean:  12.186399728729265
Median:  12.0
Mode:  0     9.6
1    11.0
Name: MinTemp, dtype: float64

In [6]:
weather.dropna()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,No
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,No
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,No
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,No
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,0.0,No
139109,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,0.0,No
139110,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,0.0,No
139111,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,0.0,No
139112,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,0.0,No